{%extends 'base.html'%}
{%block body%}
<h1>Student Details</h1>
    <div class="container">
      <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="card" style="width: 50%">
            {% if students.profile_pic %}
            <img src="{{students.profile_pic.url}}" alt="" />
            {%else%}
            <img
              src="https://www.w3schools.com/w3images/avatar2.png"
              class="card-img-top"
              alt="Student"
            />
            {%endif%}
            <div class="card-body">
              <h5 class="card-title">{{students.user.first_name}} {{students.user.last_name}}</h5>
              <p class="card-text">Email: {{students.user.email}}</p>
              <p class="card-text">Date and Time Joined: {{students.user.date_joined}}</p>
              <p class="card-text">Role: {{students.user.role}}</p>
              <p class="card-text">Gender: {{students.user.gender}}</p>
              <p class="card-text">Phone Number: {{students.user.phone_number}}</p>
              <p class="card-text">Batch Name: {{students.batch.batch_name}}</p>
              <p class="card-text">Qualification: {{students.qualification}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
{%endblock%}