{%extends 'base.html'%} {%block body%}
    <div class="container">
      <div class="row mt-5">
        <div class="col-6">
          <div class="card mb3" style="max-width: 840px;">
            <div class="col-md-4">
              <img src="{{books.image.url}}" class="card-img" alt="imgggg" />
            </div>
            <!-- <div class="card-body">

                <p><strong>{{books.author}}</strong></p>
              <p class="card-text">{{books.description}}
              </p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
{%endblock%} 
