<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MARKS</h1>
    <H1>total mark obtained: {{marks_obtained}}</H1>
    <h1>question attended:{{question_attended}}</h1>
    <h1>status : {{result}}</h1>
    <!-- <h1>right answer: {{wrong_answer_count}}</h1>
    <h1>wrong answer:{{right_answer_count}}</h1> -->
</body>
</html>